@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}
.about-work-benifits,
.services,
.what-we-do-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
@media only screen and (max-width: 758px) {
  .hero-section,
  .navigation-bar,
  .overlay {
    height: 150vh !important;
  }
}
